.App {
  text-align: center;
  padding: 20px;
}

main {
  padding: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50px; /* Adjust height to your preference */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100; /* Ensures the header is above other content */
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-container {
  background-color: #f0f0f0; /* Similar to policy card */
  border-radius: 20px; /* Rounded corners like the cards */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  padding: 20px;
  margin: 20px auto; /* Center the form in the page */
  width: fit-content; /* Adjust width to fit content */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between form fields */
}

.form-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; /* Space after each field */
}

.form-field input,
.form-field select {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc; /* subtle border */
}

.create-button {
  padding: 10px 15px;
  background-color: blue; /* Use a color that matches your theme */
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.create-button:hover {
  background-color: darkblue; /* Darker color on hover */
}

.policies-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5px;
  padding: 5px;
  width: 100%;
}

.policies-title {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  display: block
}

.policy-card {
  position: relative;
  background-color: #4C66D6;
  border-radius: 20px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  width: 200px;
  padding-bottom: 45px;
}

.policy-field {
  position: relative;
  border-radius: 10px; /* Rounded corners for the fields */
  margin: 5px 0; /* Margin between fields */
  padding: 5px;
  background-color: #EAECF6;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.policy-field::before {
  content: attr(title);
  position: absolute;
  background-color: #f0f0f0;
  padding: 4px 8px;
  border-radius: 4px;
  top: 50%;
  left: 0;
  transform: translateY(-50%) scale(0);
  transition: transform 0.3s ease-in-out;
  pointer-events: none;
  white-space: nowrap;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.policy-field:hover::before {
  transform: translateY(-50%) scale(1);
}

.policy-field span {
  white-space: pre-wrap;
  overflow: scroll;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
}

.status-active {
  color: green;
}

.status-inactive {
  color: red;
}

.delete-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 8px 16px;
  background: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Style for hover effect */
.delete-button:hover {
  background: darkred;
}

.edit-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 10px 15px;
  background-color: #FDC04E;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: darkorange; /* Darker color on hover */
}

/* Style for the input fields in edit mode */
.policy-card input {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Style for the confirm and cancel buttons */
.policy-card button {
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
}

/* You can add more specific styles for the confirm and cancel buttons if needed */
